@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  transition: all 0.3s ease-in-out;
}

.container {
  margin: 2em auto;
  padding: 1em 2em;
  max-width: 720px;
  background-color: #fff;
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
}
.text-title {
  text-align: center;
  font-size: 1.5em;
  color: #9d0208;
}
hr {
  background-color: #9d0208;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper-field-input {
  margin: 1em 0em;
}
.text-field {
  display: block;
  font-weight: 600;
  font-size: 0.9em;
  color: #495057;
}
.input-field {
  width: 95%;
  display: block;
  outline: none;
  margin-top: 0.4em;
  padding: 0.8em;
  border-radius: 10px;
  border: none;
  background-color: #f8f9fa;
  font-family: "Quicksand", sans-serif;
  border: 2px solid transparent;
}
.input-field:focus {
  border: 2px solid #9d0208;
  transition: all 0.1s ease-in-out;
}
.btn-submit {
  padding: 1em 2em;
  display: block;
  margin-left: auto;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: #9d0208;
  color: #fff;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  margin-top: 1em;
}
.btn-submit:hover {
  transition: all 0.3s ease-in-out;
  background-color: #c40c13;
}
.error-message {
  color: red;
  font-size: 0.8em;
  font-weight: 500;
  font-style: italic;
}

/* === mobile screen === */
@media only screen and (max-width: 540px) {
  .container {
    margin: 2em 1em;
    padding: 1em 1em;
    max-width: 100%;
    background-color: #fff;
    display: block;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
  }
  .text-title {
    text-align: left;
    font-size: 1.5em;
    color: #9d0208;
  }
  .input-field {
    width: 90%;
  }
}
/* === end mobile screen === */

/* === tablet screen === */
@media (min-width: 540px) and (max-width: 788px) {
  .container {
    margin: 2em 1em;
  }
} /* === end tablet screen === */
